* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(0, 0%, 100%);
  line-height: 1.5;
  font-family: "DM Sans", serif;
  font-size: 18px;
}

.container {
  width: 1000px;
  margin: auto;
  line-height: 1.5;
  padding: 20px;

  display: grid;
  grid-template-columns: auto auto;
}

.reviews {
  background-color: hsl(256, 67%, 59%);
  border-radius: 7px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.paragraph-one {
  color: hsl(254, 88%, 90%);
}
h1 {
  color: hsl(0, 0%, 100%);
}
.italics {
  font-style: italic;
  color: hsl(256, 67%, 59%);
}
span {
  color: hsl(39, 100%, 71%);
}

.accounts {
  background-color: hsl(0, 0%, 100%);
  border-radius: 7px;
  color: hsl(0, 0%, 7%);
  margin-bottom: 10px;
}

.schedule {
  background-color: hsl(39, 100%, 71%);
  border-radius: 7px;
  color: hsl(0, 0%, 7%);
  margin-bottom: 10px;
}

.social-media {
  background-color: hsl(254, 88%, 90%);
  border-radius: 7px;
  color: hsl(0, 0%, 7%);
  margin-bottom: 10px;
}
.paragraph-two {
  font-size: 20px;
}

.followers {
  background-color: hsl(256, 67%, 59%);
  border-radius: 7px;
  margin-bottom: 10px;
  display: flex;
}

.heading-two {
  color: hsl(0, 0%, 100%);
}

.growth {
  background-color: hsl(0, 0%, 100%);
  border-radius: 7px;
  margin-bottom: 10px;
}

.create-post {
  background-color: hsl(31, 66%, 93%);
  border-radius: 7px;
  margin-bottom: 10px;
}

.ai-content {
  background-color: hsl(39, 100%, 71%);
  border-radius: 7px;
}

/* .container-one {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.container-one:nth-of-type(1) {
  grid-column: 1/2;
} */

.image-one {
  width: 100px;
}

.image-two {
  width: 200px;
}

.image-three {
  width: 100px;
}

.image-four {
  width: 100px;
}

.image-five {
  width: 200px;
}

.image-six {
  width: 150px;
}

.image-seven {
  width: 100px;
}

.image-eight {
  width: 100px;
}

.container-one-two,
.container-three {
  display: grid;
  grid-template-columns: auto auto;
}

.container-one {
  grid-area: 1 / 2;
    height: 10rem;
    padding: 40px;
    /* margin: 40px; */

}
.container-two {
  grid-area: 1 / -1;
    height: 10rem;

}
.container-three {
  grid-area: 2 / -1 / span 1 / span 1;
}
.container-four {
  grid-area: 1 / 0;
}
